[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"discord.py" = {extras = ["voice"], version = "*"}
charset-normalizer = "*"
cryptography = "*"
pyyaml = "*"
aiohttp-client-cache = {extras = ["all"], version = "*"}
orjson = "*"

[dev-packages]

[requires]
python_version = "3.11"
